Host    renix
        Hostname renix.local
        User pi
        StrictHostKeyChecking no
        IdentityFile ~/.ssh/id_rsa

Host   opendsh
       Hostname opendsh.local
       User pi
       StrictHostKeyChecking no
       IdentityFile ~/.ssh/id_rsa
