global:
  scrape_interval:     15s
  evaluation_interval: 15s

scrape_configs:

  - job_name: tpms
    static_configs:
      - targets: ['localhost:8080']

  - job_name: ecu
    scrape_interval: 1s
    static_configs:
      - targets: ['localhost:8081']
